@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://kinsta.com/fr/blog/meilleures-polices-google-fonts/#6-source-sans-pro');

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 5%;
    background-color: #30445f;
    position: sticky;
    top: -1px;
    padding-top: 1px;
    height: 7vh;
}

header.isSticky {
    /*permet de changer couleur et taille de la barre nav quand on descend*/
    background-color: #475f80;
    height : 10vh;
}


header {
    z-index: 1;
}

.container-articles {
    z-index: 0;
}

header>.logo nav .cta {
    align-self: center;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
}


img {
    width: 100%;
}

.logo {
    width: 130px;
    height: 90%;
    cursor: pointer;
    margin-right: auto;
}

.header-nav {
    list-style: none;
}

.header-nav li {
    display: inline-block;
    padding: 0px 20px;
}

.header-nav li a {
    transition: all 0.3s ease 0s;
}

.header-nav li a:hover {
    color: rgba(0, 136, 169, 0.8);
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


* {
	margin: 0; padding: 0;
}



body {
	font-family: arial, verdana;
	background: linear-gradient(rgba(5, 35, 143, 0.918), rgba(24, 135, 183, 0.6),rgba(5, 35, 143, 0.918));
}

#msform {
	margin: 50px auto;
	text-align: center;
	position: relative;
}

form{
	display: grid;
	grid-template-rows: 1fr 9fr;
}

main{
	display: grid;
	grid-template-columns: 1fr 8fr 1fr 8fr 1fr 8fr 1fr;
}

.form1{
	grid-column-start: 2;
	grid-column-end: 3;
	width: 93%;
}

.form2{
	grid-column-start: 4;
	grid-column-end: 5;
	width: 93%;
}

.form3{
	grid-column-start: 6;
	grid-column-end: 7;
	width: 93%;
}


#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	width: 90%;
	position: relative;
}

.aff{
	font-family: arial, verdana;	
	text-align: left;
	color: #2C3E50;
	font-size: 60%;
}

.menu{
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.flex{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: arial, verdana;
	color: #2C3E50;
	font-size: 13px;
}

#msform .action-button {
	width: 184px;
	background: rgba(6, 45, 185, 0.918);
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 11px 0px;
	margin: 30px 18px;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(6, 45, 185, 0.918);
}

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 10px auto;
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;
}

#progressbar li:first-child:after {
	content: none; 
}



@media (max-width:1030px) {
	
	.form1{
		grid-column-start: 2;
		grid-column-end: 3;
		width: 93%;
	}
	
	.form2{
		grid-column-start: 4;
		grid-column-end: 5;
		width: 93%;
	}
	
	.form3{
		grid-column-start: 2;
		grid-column-end: 3;
		width: 93%;
	}
	
}



@media (max-width:905px) {

    .header-nav li {
        padding: 20px;
    }
    
    li, a, button {
        font-size: 12px;
    }
}


@media (max-width:850px) {
 
    
	li{
		margin-top: 10px;
		font-family: sans-serif;
		font-size: 12px;
		color:#2b2b2b;
	}
	
	.header-nav2 > li > a{
	
		color: rgb(0, 0, 0);
		font-size: 14px;
		}
}
	
@media (max-width:735px) {
 
    .header-nav li {
        padding: 7px;
    }
    
    li, a, button {
        font-size: 12px;
    }
}




