@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://kinsta.com/fr/blog/meilleures-polices-google-fonts/#6-source-sans-pro');

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 5%;
    background-color: #30445f;
    position: sticky;
    top: -1px;
    padding-top: 1px;
    height: 11vh;
}

header.isSticky {
    /*permet de changer couleur et taille de la barre nav quand on descend*/
    background-color: #475f80;
    height : 10vh;
}


header {
    z-index: 1;
}

.container-articles {
    z-index: 0;
}

header>.logo nav .cta {
    align-self: center;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
}


img {
    width: 100%;
}

.logo {
    width: 150px;
    height: 100%;
    cursor: pointer;
    margin-right: auto;
}

.header-nav {
    list-style: none;
}

.header-nav li {
    display: inline-block;
    padding: 0px 20px;
}

.header-nav li a {
    transition: all 0.3s ease 0s;
}

.header-nav li a:hover {
    color: rgba(0, 136, 169, 0.8);
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

aside {
    background-color: #45566c;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    overflow-wrap: break-word;
    grid-gap: 16px;
    padding: 15px;
}

.container-articles {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    transition: all .3s ease;
    padding: 10px;
}

.container-articles:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 30px 18px -8px rgba(0, 0, 0, .1);
    box-shadow: 0 30px 18px -8px rgba(0, 0, 0, .1);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.image-article {
    height: 20vh;
    width: 40vh;
    width: 100%;
    border-radius: 5px;
}

.bas {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.lien {
    color: #0400ff;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 400;
}

.container-articles:nth-child(1) {
    background-image: linear-gradient(to bottom,
    rgba(161, 164, 165, 0.1) 0%,
    rgba(161, 164, 165, 0.3) 25%,
    rgba(161, 164, 165, 0.5) 50%,
    rgba(161, 164, 165, 0.6) 100%);
}

.container-articles:nth-child(2) {
    background-image: linear-gradient(to bottom,
    rgba(161, 164, 165, 0.1) 0%,
    rgba(161, 164, 165, 0.3) 25%,
    rgba(161, 164, 165, 0.5) 50%,
    rgba(161, 164, 165, 0.6) 100%);
}

.container-articles:nth-child(3) {
    background-image: linear-gradient(to bottom,
    rgba(161, 164, 165, 0.1) 0%,
    rgba(161, 164, 165, 0.3) 25%,
    rgba(161, 164, 165, 0.5) 50%,
    rgba(161, 164, 165, 0.6) 100%);
}

.container-articles:nth-child(4) {
    background-image: linear-gradient(to bottom,
    rgba(161, 164, 165, 0.1) 0%,
    rgba(161, 164, 165, 0.3) 25%,
    rgba(161, 164, 165, 0.5) 50%,
    rgba(161, 164, 165, 0.6) 100%);
}

.container-articles:nth-child(5) {
    background-image: linear-gradient(to bottom,
    rgba(161, 164, 165, 0.1) 0%,
    rgba(161, 164, 165, 0.3) 25%,
    rgba(161, 164, 165, 0.5) 50%,
    rgba(161, 164, 165, 0.6) 100%);
}

.container-articles:nth-child(6) {
    background-image: linear-gradient(to bottom,
    rgba(161, 164, 165, 0.1) 0%,
    rgba(161, 164, 165, 0.3) 25%,
    rgba(161, 164, 165, 0.5) 50%,
    rgba(161, 164, 165, 0.6) 100%);

}

.container-articles:nth-child(3), :nth-child(6) {
    grid-column-start: 21;
    grid-column-end: span 8;
}

.container-articles:nth-child(2), :nth-child(5) {
    grid-column-start: 12;
    grid-column-end: span 8;
}

.container-articles:nth-child(1), :nth-child(4) {
    grid-column-start: 3;
    grid-column-end: span 8;
}

.articles-date {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    line-height: 18px;
    font-weight: 700;
    color: white;
    margin: 0;
}

.articles-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #112137;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.articles-contenu {
    font-family: "Montserrat", serif;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    color: white;
}

.box {
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    background-color: #acafaf;
    justify-content: space-around;
    flex-wrap: wrap;
}

.articles-title-main {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: #acafaf;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Montserrat", serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #475f80;
    font-weight: bold;
    padding-bottom: 20px;
}
/*
iframe{
    width : 620px ; 
    height : 370px;
}*/

.carte-2 {
    position: absolute;
    top: 800px;
    left: 150px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background: white;
    border-radius: 25px;
}

.titre-bienvenus {
    font-family: "Montserrat", serif;
    font-size: 34px;
    font-weight: bold;
    color: #42628c;
}

.soustitre-bienvenus {
    font-family: "Montserrat", serif;
    font-size: 26px;
    color: #42628c;
}

@media (max-width:1600px) {
    .carte-2 {
        position: absolute;
        top: 650px;
        left: 100px;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
        background: white;
        border-radius: 25px;
    }

    .titre-bienvenus {
        font-family: "Montserrat", serif;
        font-size: 28px;
        font-weight: bold;
        color: #42628c;
    }

    .soustitre-bienvenus {
        font-family: "Montserrat", serif;
        font-size: 22px;
        color: #42628c;
    }
}



@media (max-width:1200px) {

    .carte-2 {
        position: absolute;
        top: 500px;
        left: 70px;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
        background: white;
        border-radius: 25px;
    }

    .titre-bienvenus {
        font-family: "Montserrat", serif;
        font-size: 26px;
        font-weight: bold;
        color: #42628c;
    }
    
    .soustitre-bienvenus {
        font-family: "Montserrat", serif;
        font-size: 18px;
        color: #42628c;
    }
}


@media (max-width:1000px) {

    .carte-2 {
        position: absolute;
        top: 400px;
        left: 50px;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
        background: white;
        border-radius: 25px;
    }

    .titre-bienvenus {
        font-family: "Montserrat", serif;
        font-size: 18px;
        font-weight: bold;
        color: #42628c;
    }
    
    .soustitre-bienvenus {
        font-family: "Montserrat", serif;
        font-size: 14px;
        color: #42628c;
    }

    .container-articles:nth-child(1) {
        grid-column-start: 4;
        grid-column-end: span 12;
    }

    .container-articles:nth-child(2) {
        grid-column-start: 17;
        grid-column-end: span 12;
    }

    .container-articles:nth-child(3) {
        grid-column-start: 4;
        grid-column-end: span 12;
    }

    .container-articles:nth-child(4) {
        grid-column-start: 17;
        grid-column-end: span 12;
    }

    .container-articles:nth-child(5) {
        grid-column-start: 4;
        grid-column-end: span 12;
    }

    .container-articles:nth-child(6) {
        grid-column-start: 17;
        grid-column-end: span 12;
    }

    .logo {
        width: 130px;
        height: 90%;
        cursor: pointer;
        margin-right: auto;
    }

    header {
        height: 7vh;
    }

    li, a, button {
        font-size: 16px;
    }

    iframe {
        width: 550px;
        height: 380px;
    }

    .map {
        width: 700px;
        height: 350px;
        border-style: none;
    }

    .carte {
        position: absolute;
        top: 20px;
        left: 30px;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }
}


@media (max-width:600px) {
    
    .container-articles:nth-child(1) {
        grid-column-start: 7;
        grid-column-end: span 18;
    }

    .container-articles:nth-child(2) {
        grid-column-start: 7;
        grid-column-end: span 18;
    }

    .container-articles:nth-child(3) {
        grid-column-start: 7;
        grid-column-end: span 18;
    }

    .container-articles:nth-child(4) {
        grid-column-start: 7;
        grid-column-end: span 18;
    }

    .container-articles:nth-child(5) {
        grid-column-start: 7;
        grid-column-end: span 18;
    }

    .container-articles:nth-child(6) {
        grid-column-start: 7;
        grid-column-end: span 18;
    }

    iframe {
        width: 450px;
        height: 280px;
    }

    .carte-2 {
        position: absolute;
        top: 230px;
        left: 70px;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
        background: white;
        border-radius: 25px;
    }

    .titre-bienvenus {
        font-family: "Montserrat", serif;
        font-size: 12px;
        font-weight: bold;
        color: #42628c;
    }
    
    .soustitre-bienvenus {
        font-family: "Montserrat", serif;
        font-size: 8px;
        color: #42628c;
    }

}

@media (max-width:850px) {

    .header-nav li {
        padding: 20px;
    }

    li, a, button {
        font-size: 12px;
    }
    .carte-2 {
        position: absolute;
        top: 300px;
        left: 70px;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
        background: white;
        border-radius: 25px;
    }

    .titre-bienvenus {
        font-family: "Montserrat", serif;
        font-size: 16px;
        font-weight: bold;
        color: #42628c;
    }
    
    .soustitre-bienvenus {
        font-family: "Montserrat", serif;
        font-size: 10px;
        color: #42628c;
    }    
}

@media (max-width:735px) {

    .header-nav li {
        padding: 7px;
    }

    li, a, button {
        font-size: 12px;
    }
}



body {
    background-color: #45566c;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

