@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

/* 1er nav*/

.formation > a {
  color: rgba(0, 173, 199, 1);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 5%;
  background-color: #30445f;
  padding-top: 1px;
  height: 11vh;
}

header {
  z-index: 1;
}

.container-articles {
  z-index: 0;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
}

.logo {
  width: 150px;
  height: 100%;
  cursor: pointer;
  margin-right: auto;
}

.header-nav {
  list-style: none;
}

.header-nav li {
  display: inline-block;
  padding: 0px 20px;
}

.header-nav li a {
  transition: all 0.3s ease 0s;
}

.header-nav li a:hover {
  color: rgba(0, 136, 169, 0.8);
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
/* fin 1er nav*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image-amphis {
  padding-bottom: 100px;
  text-align: center;
  padding-top: 75px;
}

.image-amphis > img {
  width: 90%;
  border-radius: 4%;
}

body {
  background-color: #45566c;
}

/* 2eme nav*/
.nav-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cacaca;
  position: sticky;
  top: 0px;
  height: 8vh;
}

.header-nav2 > li > a {
  color: rgb(0, 0, 0);
  font-size: 18px;
}
.header-nav2 li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-2 {
  z-index: 1;
}

.container-articles {
  z-index: 0;
}

.header-nav2 {
  list-style: none;
}
/* fin 2eme nav*/

/* debut des article */
main {
  width: 100%;
  min-height: 100vh;
  background-color: #acafaf;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(2, 300px) 180px repeat(3, 300px);
  overflow-wrap: break-word;
  padding-top: 50px;
}

#grand-titre1 {
  font-size: 36px;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  color: black;
}
#grand-titre2 {
  font-size: 36px;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  color: black;
}
#grand-titre3 {
  font-size: 36px;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  color: black;
}
#grand-titre4 {
  font-size: 36px;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  color: black;
}

.titre {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.contenu {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #2b2b2b;
}

li {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  color: #2b2b2b;
}

.article:nth-child(1) {
  padding-left: 25px;
  padding-top: 25px;
  line-height: 1.5;
  grid-row-start: 1;
  grid-column-start: 7;
  grid-column-end: span 7;
  font-size: 40px;
}

.article:nth-child(2) {
  line-height: 1.5;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: span 8;
}

.article:nth-child(3) {
  padding-left: 25px;
  line-height: 1.5;
  grid-row-start: 3;
  grid-column-start: 10;
  grid-column-end: 16;
}

.article:nth-child(4) {
  padding-left: 25px;
  padding-top: 150px;
  padding-bottom: 25px;
  line-height: 1.5;
  grid-row-start: 4;
  grid-column-start: 7;
  grid-column-end: span 7;
}

.article:nth-child(5) {
  padding-left: 25px;
  line-height: 1.5;
  grid-row-start: 5;
  grid-column-start: 3;
  grid-column-end: span 7;
}

.article:nth-child(6) {
  padding-top: 65px;
  padding-left: 25px;
  line-height: 1.5;
  grid-row-start: 6;
  grid-column-start: 10;
  grid-column-end: 16;
}

.article:nth-child(7) {
  padding-left: 25px;
  line-height: 1.5;
  grid-row-start: 7;
  grid-column-start: 3;
  grid-column-end: span 7;
}

.article:nth-child(8) {
  padding-left: 25px;
  padding-top: 100px;
  padding-bottom: 25px;
  line-height: 1.5;
  grid-row-start: 8;
  grid-column-start: 7;
  grid-column-end: span 7;
  font-size: 40px;
}
.article:nth-child(9) {
  padding-top: 65px;
  padding-left: 25px;
  line-height: 1.5;
  grid-row-start: 9;
  grid-column-start: 3;
  grid-column-end: span 7;
}

.article:nth-child(10) {
  padding-top: 65px;
  padding-left: 25px;
  line-height: 1.5;
  grid-row-start: 10;
  grid-column-start: 10;
  grid-column-end: 16;
}

.article:nth-child(11) {
  padding-top: 65px;
  padding-left: 25px;
  line-height: 1.5;
  grid-row-start: 11;
  grid-column-start: 3;
  grid-column-end: span 7;
  padding-bottom: 150px;
}
.article:nth-child(12) {
  padding-left: 25px;
  line-height: 1.5;
  grid-row-start: 12;
  grid-column-start: 7;
  grid-column-end: span 7;
  font-size: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.article:nth-child(13) {
  padding-top: 150px;
  padding-left: 25px;
  line-height: 1.5;
  grid-row-start: 13;
  grid-column-start: 3;
  grid-column-end: span 7;
}

.article:nth-child(14) {
  padding-top: 100px;
  padding-left: 25px;
  line-height: 1.5;
  grid-row-start: 14;
  grid-column-start: 10;
  grid-column-end: 16;
  padding-bottom: 250px;
}

.conterer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 20px;
  background: -webkit-linear-gradient(left, #adaeb3, #cacaca);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.wrapper .card {
  background: #fff;
  width: calc(33% - 20px);
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper .card .circle {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}

.card .circle .box,
.card .circle .box span {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card .circle .box {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}

.card .circle:hover .box {
  transform: translate(-50%, -50%) scale(0.91);
}
  
.text {
  text-align: center;
  color: #30445f;
}
  
.chiffre {
  text-align: center;
  background: -webkit-linear-gradient(left, #adaeb3, #cacaca);
  font-size: 36px;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  padding-top: 20px;
}

.circle .box span {
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}

.card .circle:hover .box span {
  transform: translate(-45%, -45%) scale(1.09);
}

.card .text {
  font-size: 20px;
  font-weight: 600;
}



@media (max-width: 1200px) {
 
  #grand-titre1 {
    font-size: 32px;
    font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    color: black;
  }

  #grand-titre2 {
    font-size: 32px;
    font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    color: black;
  }

  #grand-titre3 {
    font-size: 32px;
    font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    color: black;
  }

  #grand-titre4 {
    font-size: 32px;
    font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    color: black;
  }

  .titre {
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    color: black;
  }

  .contenu {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #2b2b2b;
  }

  li {
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 15px;
    color: #2b2b2b;
  }

  .article:nth-child(2) {
    padding-top: 50px;
    padding-left: 25px;
    line-height: 1.5;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 16;
  }

  .article:nth-child(3) {
    padding-left: 25px;
    line-height: 1.5;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 16;
  }
  .article:nth-child(5) {
    padding-top: 50px;
    padding-left: 25px;
    line-height: 1.5;
    grid-row-start: 5;
    grid-column-start: 3;
    grid-column-end: 16;
  }

  .article:nth-child(6) {
    padding-top: 50px;
    padding-left: 25px;
    line-height: 1.5;
    grid-row-start: 6;
    grid-column-start: 3;
    grid-column-end: 16;
  }

  .article:nth-child(7) {
    padding-top: 50px;
    padding-left: 25px;
    line-height: 1.5;
    grid-row-start: 7;
    grid-column-start: 3;
    grid-column-end: 16;
  }

  .article:nth-child(9) {
    padding-top: 50px;
    padding-left: 25px;
    line-height: 1.5;
    grid-row-start: 9;
    grid-column-start: 3;
    grid-column-end: 16;
  }

  .article:nth-child(10) {
    padding-left: 25px;
    line-height: 1.5;
    grid-row-start: 10;
    grid-column-start: 3;
    grid-column-end: 16;
  }

  .article:nth-child(11) {
    padding-top: 50px;
    padding-left: 25px;
    line-height: 1.5;
    grid-row-start: 11;
    grid-column-start: 3;
    grid-column-end: 16;
  }
  .article:nth-child(13) {
    padding-top: 50px;
    padding-left: 25px;
    line-height: 1.5;
    grid-row-start: 13;
    grid-column-start: 3;
    grid-column-end: 16;
  }

  .article:nth-child(14) {
    padding-left: 25px;
    line-height: 1.5;
    grid-row-start: 14;
    grid-column-start: 3;
    grid-column-end: 16;
  }
}

@media (max-width: 1000px) {
  .logo {
    width: 130px;
    height: 65%;
    cursor: pointer;
    margin-right: auto;
  }
}

@media (max-width: 905px) {
  .header-nav li {
    padding: 20px;
  }

  li,
  a,
  button {
    font-size: 12px;
  }
}

@media (max-width: 850px) {
  
  #grand-titre1 {
    font-size: 23px;
    font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    color: black;
  }

  #grand-titre2 {
    font-size: 23px;
    font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    color: black;
  }

  #grand-titre3 {
    font-size: 23px;
    font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    color: black;
  }

  #grand-titre4 {
    font-size: 24px;
    font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    color: black;
  }

  .titre {
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
    color: black;
  }

  .contenu {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #2b2b2b;
  }

  li {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 12px;
    color: #2b2b2b;
  }

  .header-nav2 > li > a {
    color: rgb(0, 0, 0);
    font-size: 14px;
  }
}

@media (max-width: 735px) {
  
  .header-nav li {
    padding: 7px;
  }

  li,
  a,
  button {
    font-size: 12px;
  }
}


@media (max-width: 753px) {
  
  .wrapper {
    max-width: 700px;
  }
  .wrapper .card {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}

@media (max-width: 505px) {
  
  .wrapper {
    max-width: 500px;
  }
  .wrapper .card {
    width: 100%;
  }
}
