@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");

.etudiant > a {
  color: rgba(0, 173, 199, 1);
}

body {
  background-color: #959595;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 5%;
  background-color: #30445f;
  position: sticky;
  top: -1px;
  padding-top: 1px;
  height: 11vh;
}

header.isSticky {
  /*permet de changer couleur et taille de la barre nav quand on descend*/
  background-color: #475f80;
  height: 10vh;
}

header {
  z-index: 1;
}

.image-etudiant {
  padding-bottom: 100px;
  text-align: center;
  padding-top: 75px;
}

.image-etudiant > img {
  width: 95%;
  border-radius: 8%;
  padding: 35px;
}

.portesouvertes {
  background: linear-gradient(#abd9ffe5, #475f80);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  overflow-wrap: break-word;
  line-height: 35px;
  padding: 30px;
  padding-bottom: 5vh;
}

.portesouvertes > h1 {
  text-align: center;
  padding: 10px;
}

.container-articles {
  z-index: 0;
}

li .etudiant {
  color: rgba(0, 136, 169, 0.8);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
}

.logo {
  width: 150px;
  height: 100%;
  cursor: pointer;
  margin-right: auto;
}

.header-nav {
  list-style: none;
}

.header-nav li {
  display: inline-block;
  padding: 0px 20px;
}

.header-nav li a {
  transition: all 0.3s ease 0s;
}

.header-nav li a:hover {
  color: rgba(0, 136, 169, 0.8);
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

aside {
  background-color: #475f80;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-wrap: break-word;
  grid-gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.container-articles {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 10px;
}

.container-articles:hover {
  cursor: pointer;
  box-shadow: 0 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.container-articles {
  background: linear-gradient(#45566c, rgb(95, 108, 149));
}

.image-article {
  height: 20vh;
  width: 40vh;
  width: 100%;
  border-radius: 5px;
}

.bas {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.articles-date {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 700;
  color: white;
  margin: 0;
}

.articles-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #112137;
  margin: 10px 0 0 0;
  font-weight: bold;
}

.articles-contenu {
  font-family: "Montserrat", serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: white;
}

.articles-category {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: white;
  margin: 0;
}

.articles-title {
  font-family: "Montserrat", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: white;
  margin: 10px 0 0 0;
}

.temoignage {
  font-family: "Montserrat", serif;
  font-size: 140%;
  text-align: center;
  background-color: #dfdfdf;
  color: #45566c;
  padding-top: 50px;
}

main {
  padding-top: 10px;
  padding-bottom: 40px;
  display: flex;
  background-color: #dfdfdf;
  justify-content: space-around;
  flex-wrap: wrap;
}

.outils {
  font-family: "Montserrat", serif;
  font-size: 140%;
  background-color: #45566c;
  color: #dfdfdf;
  padding: 40px;
  line-height: 32px;
  overflow-wrap: break-word;
}

.outils > h1,
.outils > p {
  text-align: center;
  padding-bottom: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lien {
  color: #03009e;
  font-family: "Montserrat", serif;
  font-size: 15px;
  font-weight: 400;
}


@media (max-width: 1000px) {
  .container-articles:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .container-articles:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: span 2;
  }

  .container-articles:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .container-articles:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: span 2;
  }
}

@media (max-width: 700px) {
  aside {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .container-articles:nth-child(1) {
    grid-column-start: 3;
    grid-column-end: span 5;
  }

  .container-articles:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: span 5;
  }

  .container-articles:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: span 5;
  }

  .container-articles:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: span 5;
  }
}

@media (max-width: 1000px) {
    .logo {
      width: 130px;
      height: 65%;
      cursor: pointer;
      margin-right: auto;
    }
  }





  @media (max-width: 905px) {
    .header-nav li {
      padding: 20px;
    }
  
    li,
    a,
    button {
      font-size: 12px;
    }
  }

  


  @media (max-width: 735px) {
    .header-nav li {
      padding: 7px;
    }
  
    li,
    a,
    button {
      font-size: 12px;
    }
  }